/**************************
UNIVERSAL
***************************/
:root {
    --primary-color: #ecf0f3;
    --secondary-color: #F3F6F8;
  }
  
  *{
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Libre Baskerville', serif;
    background-color: var(--secondary-color);
  }

  .page {
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-item-container {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
  }

  .sub-nav {
    justify-content: center;
  }